$colorDARK_CYAN : #5d9e9b;
$colorWHITE : #ffffff;
$colorShadeOfCyanBlue : #3f729c;
$colorDarkShadeOfCyanBlue: #002d53;
$colorCornFlowerBlue: #6e9afa;
$colorBlack: #000000;
$colorShaeOfPink: #A04668;
$colorSaturatedChathamsBlue: #254E70;
$colorSnow: #FFFBFE;

$MAIN_FONT: 'Ubuntu Mono', monospace;
$FONT_SIZE: 18px;
$FONT_WEIGHT: 500;

$BREACKPOINT: 900px;