$colorDarkCyan : #5d9e9b;
$colorWhite : #ffffff;
$colorShadeOfCyanBlue : #3f729c;
$colorDarkShadeOfCyanBlue: #002d53;
$colorCornFlowerBlue: #6e9afa;
$colorBlack: #000000;
$colorShadeOfPink: #A04668;
$colorSaturatedChathamsBlue: #254E70;
$colorSnow: #FFFBFE;

$primaryFont: 'Ubuntu Mono', monospace;
$primaryFontSize: 18px;
$primaryFontWeight: 500;

$breackpoint: 900px;