.button {
  border-radius: 18%;
  border: $colorWHITE;
  color: $colorWHITE;
  background-color: $colorShadeOfCyanBlue;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  width: 70px;
  height: 36px;
  padding: 0;

  &:hover {
    transform: scale(0.9);
  }
}