.giphs {
    max-width: 1075px;
    overflow: hidden;
    // min-width: 900px;
    margin: 30px;
    position: relative;

  &__page {
    // width: 1100px;
    display: flex;
    align-items: center;
    color: $colorWHITE;
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms ease 0s;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    height: 200px;
    width: 190px;
    align-items: center;
    background-color: $colorBlack;
    margin-right: 25px;
  }

  &__item {
    max-height: 200px;
    width: 100%;
    object-position: bottom;
  }
}