.search-bar {
  position: relative;
  max-width: 900px;
  padding: 22px 7px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorWHITE;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;

  &__input::-webkit-search-cancel-button {
    display: none; 
  }

  &__input {
    font-family: $MAIN_FONT;
    font-size: $FONT_SIZE;
    font-weight: $FONT_WEIGHT;
    width: 30px;
    height: 25px;
    padding: 5px;
    margin: 0;
    border: 0;
    position: relative;
    transition: all 0.4s linear;
    outline: none;
  }

  &__icon  {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 11px;

    background-color: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  &__icon:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
  }

  &__img {
    width: 25px;
  }

  &__overlay {
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.4s linear;
  }
}