@import 'variables';
@import 'search-system';
@import 'search-bar';
@import 'button';

* {
  box-sizing: border-box;
}

body {
  background-color: $colorDARK_CYAN;
}

.wrapper {
  margin-top: 50px;
}

.giphy-service {
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  align-items: center;
}