@import 'variables';
@import 'search-system';
@import 'search-bar';
@import 'button';
@import 'scroll-bar';
@import 'giphs';
@import 'pagination';
@import 'loading-spinner';

* {
  box-sizing: border-box;
}

body {
  background-color: $colorBlack;
}

.wrapper {
  margin: 40px 20px;
}

.giphy-service {
  display: flex;
  justify-content: center;
  min-width: 1290px;
}

.carousel {
  display: flex;
  align-items: flex-end;
}

.loading {
  opacity: 0;
}

.activePage {
  background-color: $colorDarkShadeOfCyanBlue;
  transform: scale(1.19);
  margin: 0 4px;
}

.disActiveButton {
  opacity: 0.5;
  cursor: default;
}

.hover:hover {
  transform: scale(0.9);
}

.hover-b:hover {
  transform: scale(1.13);
}