@import 'search-system';
@import 'search-bar';

body {
  background-color: #5d9e9b;
}

.wrapper {
  margin-top: 50px;
}

.search-bar__wrapper {
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.4s linear;
}

.giphy-service {
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  align-items: center;
}

.button {
  border-radius: 50%;
  border: #ffffff;
  color: #ffffff;
  background-color: #3f729c;
  cursor: pointer;

  &-left {
    padding: 14px 13px 12px 15px;
  }

  &-right {
  padding: 14px 15px 12px 13px;
  }

  &__arrow-left {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);
  }

  &__arrow-right {
    border: solid #ffffff;
    border-width:  0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-45deg);
  }

  &:hover {
    transform: scale(0.9);
  }
}