$colorDARK_CYAN : #5d9e9b;
$colorWHITE : #ffffff;
$colorShadeOfCyanBlue : #3f729c;
$colorCornFlowerBlue: #6e9afa;
$colorBlack: #000000;

$MAIN_FONT: 'Ubuntu Mono', monospace;
$FONT_SIZE: 18px;
$FONT_WEIGHT: 500;